<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName">

    <context:component-scan base-package="footprints.asynclogger"/>
    <bean id="logArgAdvice" class="footprints.aop.advice.LogArgAdvice"></bean>
    <bean id="logArgPoint" class="footprints.asynclogger.aop.LogArgPointcut"></bean>

    <bean id="logArgAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="logArgAdvice"></property>
        <property name="pointcut" ref="logArgPoint"></property>
    </bean>

    <bean id="logProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="asyncLoggerImpl"></property>
        <property name="interceptorNames" value="logArgAdvisor"></property>
    </bean>


    <!--<bean id="hi" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">-->
    <!--<property name="beanNames">-->
    <!--<list>-->
    <!--<value>asyncLoggerImpl</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="interceptorNames" value="logArgAdvice"></property>-->
    <!--</bean>-->
</beans>
